@import url('https://fonts.googleapis.com/css?family=Roboto'); //webfont url inplaatsen
@font-face {						
	font-family: Roboto, sans serif;
	src: url: 
}
/*algemeen body*/
body{
	font-family: Roboto, Arial; /*standaard font en backup font*/ 
	
}	
h1 {
	color: #C48310;
	font-size: 50px;
}
#line {
	width: 1200px;
	height: 1px;
	background-color: black;
	margin-top: 35px;
	margin-left: 152px;
	/*creates a line*/
}
.quoteKernwaarden {
	color: white;
	text-align: left;
	float: left;
	margin-left: 20px;
}
#quote{
	font-size: 27px;
	font-weight: bold;
	position: absolute;
	top: 135px;
}
#kernwaarden{
	font-size: 18px;
	font-weight: medium;
	float: left;
	position: absolute;
	top: 176px;
	left: 65px; 
/*De kernwaarden en #quote en .quoteKernwaarden centreren en links uitlijnen*/
/*Menubalk*/
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2C3946;
  height: 87px;
}
/*navigatie, bullets weghalen, achtergrond kleur*/
nav li {
  float: right;
  margin-right: 30px;
  font-size: 26px;
  font-weight: bold;

}

nav li a {			
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  position: relative;	
  top: 10px;
/*De navigatie centreren en midden in het balk plaatsen.*/
}

nav li a:hover { /*muis overheen kleur geven.*/
  background-color: #111111;
}


#titelsection  {								
	height: 923px;
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
	opacity: 0.9;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -53px;

}

#kader {
	position: relative;
	left: 50px;
	background-color: rgba(44, 57, 70, 0.7);
	height: 355px;
	width: 750px;
	border-radius: 20px;
	position: relative;
	left: 300px;
	top: 100px;	
	text-align: center;
	color: white;
	
}
#COE {
	font-size: 64px;
	font-weight: black;
}
#thema {
	font-size: 36px;
	margin: -60px;
}
#themaPartner {
	font-size: 24px;
	margin: 85px;
	text-align: left;
	margin-left: 70px;
}
#buttonPartner {
	position: relative;
	left: 265px;
	top: 10px;
	background-color: #A0A51E;
	color: white;
	width: 190px;
	height: 55px;
	border : 1px;
	border-radius: 10px;
	font-size: 25px;
	font-weight: bold;
/*button goed plaatsen*/
}


#buttonPartner:hover {
	background-color: #A0A56B;
	opacity: .96;
	
}

#klikHierTekst {
	position: absolute;
	left: 551px;
	top: 240px;
	font-size: 24px;
/* de tekst bovenop de klik hier knop plaatsen en font-size*/
}

/*Volgende catergorie*/
#nieuwsbrief {
	background-color: #2C3946;
	height: 260px;
	width: 1270px;
	color: white;
	border-radius: 15px;
	position: relative;
	left: 115px;
	
	
/*Nieuwsbrief verschuiven en tekst centreren*/
}

#kaderNieuwsbrief { 
	margin: 50px;
	
}
#titelNieuwsbrief {
	text-align: center;
	padding-top: 10px;
	/*de tekst meld u aan voor onze nieuwsbrief centreren*/
}
#buttonInschrijven {
	background-color: #C48310;
	color: white;
	width: 330px;
	height: 60px;
	border: 1px;
	border-radius: 10px;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	top: 16px;
	/*inschrijf knop opmaak en positie*/
} 

#buttonInschrijven:hover {
	background-color: #CC6600;
}
.labelsOpInput { 
	
float: left;
}
/*de inputs en knop naast elkaar plaatsen*/
#naamNieuwsbrief, #emailNieuwsbrief{
	height: 50px;
	width: 400px;
	/*De inputvelden groter maken*/
}
#labelNaam, #labelEmail, #naamNieuwsbrief, #emailNieuwsbrief {
	display: 	block;
	margin-right: 10px;
/*De labels boven d e inputvelden plaatsen*/
}

/*Sectie laatste nieuws*/
.afbeeldingNieuwsSectie {
	height: 260px;
	width: 340px;
}
#artikel1, #artikel2, #artikel3 {
	background-color: #2C3946;
	height: 600px;
	width: 340px;
	float: left;
	margin-left: 120px;
	border-radius: 20px;
	/*De artikelen netjes van link naar rechts weergeven*/
}
.afbeeldingNieuwsSectie{
	position: relative;
	top: -16px;
	left: -40px;
	border-radius: 20px 20px 0px 0px;
	/*De afbeeldingen van de artikelen netjes op de box plaatsen en top hoeken afronden*/
}
.artikelOpmaakHome {
	color: #C48310;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -18px;
/*De titel en tekst van de artikelen netjes in de box opmaken*/
}
.artikelTekstOpmaakHome {
	color: white;
	font-size: 16px;
/*artikel font grootte veranderen en kleur*/
}
#titelArtikelOptimaalRolstoel {
	font-size: 20px;
	/*Kleine titel wat groter maken*/
}
.titelHomescreen {
	padding-left: 120px;
	margin-top: 10px;;
}
.leesMeerLink{
	color: #C48310;
	float: right;
	margin-right: 5px;
	/*de lees meer links verschuiven en kleur veranderen*/
}
#tekstArtikelRaapPro {
	padding-top: 34px;
/*de optimaal rolstoel artikel tekst naar beneden schuiven, ziet er netter uit vind ik*/
}
#leesMeerOptimaal{
	padding-top: 40px;
	/*de lees meer knop van optimaal rolstoel beter uitlijnen*/
}
.leesMeerLink {
	padding-right: 10px;
	/*alle lees meer knopppen beter uitlijnen*/
}
#meerNieuws {
	width: 340px;
	height: 75px;
	font-size: 44px;
	font-weight: bold;
	border: 1px;
	border-radius: 10px;
	color: white;
	background-color: #C48310;
	margin-top: 40px;
	margin-left: 1045px;
	
}
#meerNieuws:hover {
	background-color: #CC6600;
}

/*sectie partner worden*/





